page-about {
  .myImages {
    height: 50%;
    width: 100%;
    border-radius: 50%;
  }
  .def {
    font-size: 100%;
  }
  .name {
    font-size: 100%;
    text-align: center;
    font-weight: bold
  }
}
